/* Vue transition animation styles */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 1.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(40px);
  opacity: 0;
}

/* intro image animation */
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-image-container img:nth-of-type(1) {
  animation-delay: 6s;
}

.intro-image-container img:nth-of-type(2) {
  animation-delay: 4s;
}

.intro-image-container img:nth-of-type(3) {
  animation-delay: 2s;
}

.intro-image-container img:nth-of-type(4) {
  animation-delay: 0s;
}