:root {
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --primary-red: #d81639;
    --primary-black: #1f1f1f;    
    --primary-teal: #16D8B5;
    --primary-orange: #e5751f;   
    --primary-blue-green: #55a6ad;

    --transparent-red: #d8163ac9;
  }